/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
  --main-title-color: #DB00FF;
  --decor-color: #FF0070;
}

.theme-dark .decoration_element {
  display: block;
}