/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --background-image: url("../images/cover-image-light.png");
  --decor-color: #353430;
}

.theme-light .decoration_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --background-image: url("../images/cover-image-light.png");
    --decor-color: #353430;
  }

  .theme-auto .decoration_element {
    display: none;
  }
}
