/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --text_color: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --background-image: url('/images/cover-image-light.png');
  --decor-color: #353430;
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text_color: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --background-image: url('/images/cover-image-light.png');
  --decor-color: #353430;
}

.theme-light .decotation_ellement {
  display: none;
}