/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 10px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text_color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text_color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: baseline;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.decotation_ellement {
  position: absolute;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  color: var(--accent-color);
  right: 28px;
  top: 3px;
  font-size: 18px;
}

.decotation_ellement::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  z-index: 1;
}

.header__theme-menu {
  grid-row: 1;
  align-self: start;
  justify-self: end;
  margin-top: 60px;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 22px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  background-color: transparent;
  font-size: var(--font-size);
  color: var(--accent-color);
  text-transform: lowercase ;
  border: 1px solid transparent;
}


.main_title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  line-height: 0.83;
  align-self: start;
  justify-self: start;
  margin-top: 5px;
}

.header .title {
  grid-row: 3;
  align-self: start;
  margin-top: 30px;
}

.title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.paragraph {
  font-family: var(--font-family-title);
  color: var(--text_color);
  font-weight: var(--font-weight-text);
  line-height: 23.4px;
  letter-spacing: 0%;
}

.corners {
  position: relative;
}

.corners::before,
.corners::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px; 
}

.corners::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color);
}

.corners::after {
  bottom: 0px;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.block {
  display: grid;
  gap: 10px;
  margin-bottom: 50px;
}

.block:first-child {
  margin-top: 40px;
}

.block:last-child {
  margin-bottom: 40px;
}

.link_paragraph {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  text-shadow:  1px 1px var(--accent-color);
}

.link_paragraph:hover {
  border-bottom: 1px solid var(--text_color);
}

.link_paragraph:focus-visible {
  outline: 1px solid var(--text_color);
}

.accent-title {
  font-weight: var(--font-weight-text);
}

.block_gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 10px;
}

.footer {
  display: flex;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

.footer_title {
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {

  .page {
    padding: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-top: 169px;
    margin-right: 8px;
  }

  .main_title {
    text-wrap: nowrap;
    margin-left: -20px;
    margin-top: 103px;
  }

  .header .title {
    grid-column : 2;
    margin-top: 21px;
  }

  .block {
    gap: 0;
  }

  .block_focus {
    grid-row: 1;
    display: grid;
    flex-direction: column;
    grid-template-columns: 35% 63%;
  }

  .block_focus h2 {
    grid-column: 1;
  }

  .block_focus .module {
    grid-column: 2;
    margin-bottom: 20px;
  }

  .block_concentrate {
    gap: 20px;
  }

  .block_concentrate:first-child {
    gap: 0;
  }

  .block_concentrate h2 {
    width: 236px;
    margin-bottom: 0;
  }

  .block_gold_fish {
    display: grid;
    flex-direction: column;
    grid-template-columns: 35% 63%;
    align-items: start;
  }

  .block_gold_fish h2 {
    grid-column: 1;
    align-self: start;
  }

    .block_gold_fish h3.subtitle {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .block_gold_fish .module {
    grid-column: 2;
    margin-bottom: 20px;
  }

  .block_gallery h3{
    margin-bottom: 20px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto); 
    gap: 20px;
  }
  
  .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
 
  .gallery-container img:nth-child(1),
  .gallery-container img:nth-child(5) {
    grid-column: span 2;
  }
  
  .gallery-container img:nth-child(2),
  .gallery-container img:nth-child(3) {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
    margin-top: 0;
    margin-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main_title {
    font-size: 157px;
    margin-top: 42px;
  }

  .header .title {
  margin-top: 30px;
}

  .block_concentrate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }

  .block_concentrate h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    width: auto;
  }

  .block_concentrate .module {
    grid-row: 2;
  }
}