/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding-left: 10px;
  padding-right: 10px;
  block-size: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--decor-color) 60%, transparent);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-color);
}

.header {
  block-size: 100vh;
  min-height: 600px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  padding: 10px 0;
}

.decoration_element {
  position: absolute;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  color: var(--accent-color);
  right: 28px;
  top: 10px;
  font-size: 18px;
}

.decoration_element::after {
  content: "";
  position: absolute;
  right: -18px;
  top: 50%;
  width: 9px;
  height: 9px;
  border-radius: 40%;
  transform: translateY(-50%);
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  z-index: 1;
}

.header__theme-menu {
  grid-row: 1;
  display: flex;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  background-color: transparent;
  font-size: var(--font-size);
  color: var(--decor-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  min-height: 26px;
  width: 70px;
  cursor: pointer;
}

.main_title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  line-height: 0.83;
  align-self: center;
  justify-self: flex-start;
}

.header .title {
  grid-row: 3;
  align-self: center;
  margin-top: 10px;
}

.title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.paragraph {
  font-family: var(--font-family-title);
  color: var(--text-color);
  font-weight: var(--font-weight-text);
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.corners {
  position: relative;
}

.corners::before,
.corners::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.corners::before {
  top: 10px;
  right: 0;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.corners::after {
  bottom: 10px;
  left: 0;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.block {
  display: grid;
  gap: 0px;
  margin-bottom: 30px;
}

.block:first-child {
  margin-top: 40px;
}

.block:last-child {
  margin-bottom: 40px;
}

.link_paragraph {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-text);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link_paragraph:hover {
  border-bottom: 1px solid var(--text-color);
  text-decoration: none;
}

.link_paragraph:focus-visible {
  outline: 1px solid var(--text-color);
  text-decoration: none;
}

.accent-title {
  font-weight: var(--font-weight-text);
}

.block_gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block_gallery .title-decor {
  margin-bottom: 0;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 10px;
}

.footer {
  display: flex;
  height: 100vh;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

.footer_title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0;
  }

  .decoration_element {
    top: 20px;
  }

  .corners::before {
    top: 20px;
  }

  .corners::after {
    bottom: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-top: 0px;
  }

  .main_title {
    text-wrap: nowrap;
    margin-left: -20px;
  }

  .header .title {
    grid-column: 2;
  }

  .block {
    display: grid;
    gap: 0px;
    margin-bottom: 60px;
  }

  .block:first-child {
    margin-top: 60px;
  }

  .block:last-child {
    margin-bottom: 50px;
  }

  .block_focus {
    grid-row: 1;
    display: grid;
    flex-direction: column;
    grid-template-columns: 35% 65%;
  }

  .block_focus h2 {
    grid-column: 1;
  }

  .block_focus .module {
    grid-column: 2;
    margin-bottom: 0px;
  }

  .block_concentrate:first-child {
    gap: 10px;
  }

  .block_concentrate h2 {
    margin-bottom: 0;
    width: 25%;
  }

  .block_concentrate .paragraph {
    margin-bottom: 0;
  }

  .block_concentrate {
    gap: 20px;
    margin-bottom: 80px;
  }

  .block_gold_fish {
    display: grid;
    flex-direction: column;
    grid-template-columns: 35% 65%;
    align-items: start;
  }

  .block_gold_fish h2 {
    grid-column: 1;
    align-self: start;
  }

  .block_gold_fish h3.subtitle {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .block_gold_fish .module {
    grid-column: 2;
    margin-bottom: 20px;
  }

  .block_gallery .title-decor {
    margin-bottom: 20px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
  }

  .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery-container img:nth-child(1),
  .gallery-container img:nth-child(5) {
    grid-column: span 2;
  }

  .gallery-container img:nth-child(2),
  .gallery-container img:nth-child(3) {
    grid-row: span 2;
  }

  .footer_title {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .block_focus {
    grid-row: 1;
    display: grid;
    flex-direction: column;
    grid-template-columns: 34% 66%;
  }

  .block_concentrate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .block_concentrate .title {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .block_gold_fish {
    display: grid;
    flex-direction: column;
    grid-template-columns: 34% 66%;
    align-items: start;
  }

  .block:last-child {
    margin-bottom: 60px;
  }
}
